NET "clock" LOC = B8;
NET "reset" LOC = G12;

#motor control Module
NET "turnon" LOC = P11;
NET "enable" LOC = J3;
NET "direction" LOC = A3;
NET "turn" LOC = B2;

#light module
NET "olight" LOC = C9;

# Audio output module
NET i2s_mclk LOC=C12;
NET i2s_lrclk LOC=A13;
NET i2s_sclk LOC=C13;
NET i2s_data LOC=D12;
NET swts(3) LOC=F3;
NET swts(2) LOC=G3;
NET swts(1) LOC=B4;
NET swts(0) LOC=K3;


#light Sensor module
NET "set" LOC=N3;
NET ss LOC=C6;
NET miso LOC=C5;
NET sclk LOC=B7;
Net "SEG<6>" LOC = M12;
Net "SEG<5>" LOC = L13;
Net "SEG<4>" LOC = P12;
Net "SEG<3>" LOC = N11;
Net "SEG<2>" LOC = N14;
Net "SEG<1>" LOC = H12;
Net "SEG<0>" LOC = L14;
Net "AN<3>" LOC = K14;
Net "AN<2>" LOC = M13;
Net "AN<1>" LOC = J12;
Net "AN<0>" LOC = F12;
NET "set" CLOCK_DEDICATED_ROUTE = FALSE;