NET "clock" LOC = B8;
NET "reset" LOC = G12;

#motor control Module
NET "turnon" LOC = P11;
NET "enable" LOC = J3;
NET "direction" LOC = A3;
NET "turn" LOC = B2;

#light module
NET "olight" LOC = C9;

# Audio output module
NET i2s_mclk LOC=C12;
NET i2s_lrclk LOC=A13;
NET i2s_sclk LOC=C13;
NET i2s_data LOC=D12;
NET swts(3) LOC=F3;
NET swts(2) LOC=G3;
NET swts(1) LOC=B4;
NET swts(0) LOC=K3;


#light Sensor module
NET "set" LOC=N3;
NET ss LOC=C6;
NET miso LOC=C5;
NET sclk LOC=B7;
NET "seg[0]" LOC = M12;
NET "seg[1]" LOC = L13;
NET "seg[2]" LOC = P12;
NET "seg[3]" LOC = N11;
NET "seg[4]" LOC = N14;
NET "seg[5]" LOC = H12;
NET "seg[6]" LOC = L14;
Net "AN<3>" LOC = K14;
Net "AN<2>" LOC = M13;
Net "AN<1>" LOC = J12;
Net "AN<0>" LOC = F12;
NET "set" CLOCK_DEDICATED_ROUTE = FALSE;
NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ledout<0>" LOC = M5;
NET "ledout<1>" LOC = M11;
NET "ledout<2>" LOC = P7;
NET "ledout<3>" LOC = P6;
NET "ledout<4>" LOC = N5;
NET "ledout<5>" LOC = N4;
NET "ledout<6>" LOC = P4;